
html {
  font-size: 10px;
  scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Josefin+Sans&display=swap');

* {
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
body {
  padding: 0;
  margin:0;
}