.impact .head{
    background-color: white;
    color: red;
    padding: 20px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}
.impact .test{
    color: black;
    padding: 20px;
    text-align: center;
    font-size: 3.6rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.impact .text{   
margin-bottom: 2rem;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 1.8rem;
line-height: 2.2rem;
text-align: center;
color: #000000;


}
.impact div {
    /* border: 1px solid red; */
}
.impact .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 10% 0 10%;
    box-sizing: border-box;
    /* justify-content: space-between;
    margin-top: 2rem; */
}
  
.impact .box {
    width: 50rem;
    height: 30rem;    
    color: black;
    padding: 20px;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    background-color: gray;
}
.impact .future{
    color: black;
    padding: 20px;
    text-align: center;
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.impact .afterfuture{
    margin-bottom: 2rem;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.2rem;
    text-align: center;
    color: #000000;
}
.hiv, .Kiv{
    transition: transform 0.3s ease-in-out;
}
.hiv:hover, .Kiv:hover{
    /* color: red; */
    transform: scale(1.1);
}
.hiv:hover .niv h1:last-child, .Kiv:hover .niv h1:last-child{
    color: red;
}