* {
    color: white;
    margin: 0;
    transition: all 0.2s cubic-bezier(.79,.14,.15,.86);
}
html {
    scroll-behavior: smooth;
}
body {
    padding: 0;
    margin: 0;
}
.navigation_bar div a {
    text-decoration: none;
    transition: color 0.3s cubic-bezier(.46,.03,.52,.96);
}
.navigation_bar a:hover {
    color: #1da343;
    /* scale: 1.2; */
}
.navigation_bar, .navbar_empty_section {
    height: 11vh;
}
.navigation_bar {
    display: grid;
    grid-template-columns: 13% 18% 8% 10% 7% 2% 17% 11% 7% 7%;
    grid-template-rows: 100%;
    
    z-index: 10;
    position: fixed;
    /* opacity: 0.2; */
    /* top: 0; */

    
    width: 100%;
    background-color: #2B314A;
    padding: 0% 4.4%;
    box-sizing:border-box;

    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.navigation_bar div {
    width: 100%;
    height: 100%;

    display: grid;
    align-items: center;
    place-items: center;

    /* border: 1px solid red; */
    font-family: 'Alumni Sans', sans-serif;
    font-size: 2vw;
    margin: auto;
    color: white;

    box-sizing: border-box;
}
    .navbaritems a, .empty {
        color: white;
        font-weight: 600;
    }
    .text_logo{
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        /* border: 1px solid yellow; */

        /* display: grid;
        align-items: center;
        place-items: center; */
    }
    .text_logo a{
        /* border: 1px solid red; */
        box-sizing: border-box;
        width: 100%;
        height: 100%;

        display: grid;
        /* align-items: center; */
        /* place-items: center; */

        grid-template-columns: 44% 56%;
        grid-template-rows: 100%;
    }
        .text_logo .NEPA, .text_logo .WORKS{
            color: white;
            /* height: 100%; */
            font-size: 3.2vw;
            /* border: 1px solid green; */

            /* display: grid;
            align-items: center;
            place-content: center; */
        }
        .NEPA{
            font-family: 'Anek Latin', sans-serif;
            font-weight: 800;
        }
        .WORKS{
            box-sizing: border-box;
            font-family: 'Anek Devanagari', sans-serif;
            font-weight: 100;
        }
    .nav_bar_signin_button_outer {
        width: 100%;
        height: 100%;
    }
    .nav_bar_signin_button_outer a{
        width: 100%;
        height: 100%;
        /* border: 1px solid yellow; */

        display: grid;
        align-items: center;
    }
    .nav_bar_signin_button_outer a .nav_bar_signin_button {
        width: 100%;
        /* margin-left: -30%; */
        height: 50%;
        background-color: #368344;
        border-radius: 20px;

        display: grid;
        align-items: center;
        place-content: center;
    }
    .nav_icons_container{
        position: relative;

        display: grid;
        align-items: center;
        place-items: center;
    }
    .nav_desktop, .nav_mobile{
        position: absolute;
    }
    .nav_desktop img, .nav_mobile img{
        width: 2.4vw;
        margin-top: 30%;
        /* border: 1px solid yellow; */
    }
    .nav_mobile {
        display:none;
    }

    .menuToggle {
        /* border: 1px solid red; */
        position: relative;
    }
    .menuToggle input, .nav_mobile {
        position: absolute;
    }
    .nav_icons_container {
        /* border: 1px solid red; */
        position: relative;
    }
    .hamburger_icon_container #toggle, .hamburger_icon_container .nav_mobile_container{
        position:absolute;
    } 
    .hamburger_icon_container #toggle{
        z-index: -2;
        display: none;
    }
    .mobile_view_nagivation_slidein {
        display: none;
    }

@media (max-width: 1000px) {
    .navigation_bar, .navbar_empty_section {
        height: 9vh;
    }
}
@media (max-width: 800px) {
    .navigation_bar, .navbar_empty_section {
        height: 7vh;
    }
}
@media (max-width: 600px) {
    .to_hide {
        visibility: hidden;
    }
    .navigation_bar, .navbar_empty_section {
        height: 50px;
    }
    .navigation_bar{
        grid-template-columns: 13% 18% 8% 0% 7% 2% 17% 1% 20% 12%;
        /* grid-template-columns: 30% 20% 0% 0% 0% 0% 0% 0% 20% 20%; */

        
    }
        .navigation_bar div {
            /* border: 1px solid red; */
            /* height: 100%; */
            width: 100%;
        }
        
        .to_hide:first-child {
        }
        .navigation_bar .text_logo {
            display: grid;
            place-items: center;
            width: 200%;
        }
        .text_logo a{
            /* border: 1px solid red; */
            grid-template-columns: 44% 56%;
        }
        .text_logo .NEPA, .text_logo .WORKS{
            font-size: 6.4vw;
        }
    .navigation_bar .nav_bar_signin_button_outer {
        /* height: 50%; */
        width: 100%;
        /* padding-left: 420%; */
        display: grid;
        /* place-items: center; */
    }
    .navigation_bar .nav_bar_signin_button_outer .nav_bar_signin_button {
        height: 55%;
        width: 100%;
        font-size: 4.5vw;
        /* display: block; */
    }
    .nav_icons_container {
    }
    .hamburger_icon_container #toggle{
        display: block;
        z-index: 2;
        width: 70%;
        height: 80%;
        opacity: 0;
        cursor: pointer;
    } 
    .hamburger_icon_container .nav_mobile_container{
    } 
    #toggle:checked ~ .mobile_view_nagivation_slidein {
        display: block;
    }
    .mobile_view_nagivation_slidein {
        /* display: grid; */
        /* height: 100vh; */
        /* grid-template-rows: 30% 10% 10% 10% 10% 10% 10% 10%; */
        
        top: 0;
        background-color: #2B314A;
        height: 100vh;

        width: 87vw;
        margin-left: -94vw;
        z-index: 10;
        position: fixed;
        display: none;

        padding: 10% 10% 25% 10%;
        box-sizing: border-box;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
    .mobile_view_nagivation_slidein div{
        /* border: 1px solid red; */
        height: 13%;
        box-sizing: border-box;
        padding: 0;
        margin: 0;

        font-size: 5vw;
        font-weight: 600;
        text-align: left;
    }
    .mobile_view_nagivation_slidein div:first-child{
        font-family: 'Inter', sans-serif;
        text-align: center;
        font-size: 3.3vw;
        font-weight: 200;
        height: 18vh;

        padding-bottom: 10%;
    }
    .mobile_view_nagivation_slidein div:first-child b{
        /* border: 1px solid green; */
        font-weight: 700;
    }
    
    .nav_icons_container .nav_mobile{
        width: 100%;
        height: 100%;
        /* border: 1px solid green; */
        box-sizing: border-box;
        position: relative;

        display: grid;
        align-items:center;
        place-items: center;
    }
    .nav_desktop {
        visibility:hidden;
    }
    .nav_mobile {
        display:grid;
        background-color: transparent;
        border: 0;
    }
    .nav_desktop img, .nav_mobile img{
        margin-top: 0%;
        /* border: 1px solid yellow; */
    }
    .nav_mobile img{
        /* position: absolute; */
        width: 100%;
        /* border: 1px solid yellow; */
    }



    
    .nav-menu {
        display: none;
      }
      
    .nav_mobile:focus + .nav-menu {
        display: block;
    }
}


@media (max-width: 500px) {
    .navigation_bar, .navbar_empty_section {
        height: 5.5vh;
    }
}
@media (max-width: 400px) {
    .navigation_bar, .navbar_empty_section {
        height: 4vh;
    }
}
@media (max-width: 300px) {
    .navigation_bar, .navbar_empty_section {
        height: 4vh;
    }
}