*{
    box-sizing: border-box;
    transition: all 0.2s cubic-bezier(.79,.14,.15,.86);
    color: white;
}
body {
    overflow-x: hidden;
}
input {
    width: 100%;
    height: 100%;

    color: black;
    font-size: 1.3vw;
    font-family: 'Jost', sans-serif;

    box-shadow: rgba(0, 0, 0, 0.15) 0px 7px 29px 0px;
}
.footer_section {
    box-sizing:content-box;
}
form {
    border: 0;
    padding: 0;
    margin:0;
}
.post_a_job_outer {
    height: 320vh;
    width: 100%;
    background-color: #324D76;

    padding: 8% 10%;

    
}
.post_a_job_outer div {
    /* border: 1px solid red; */
}
.post_a_job_inner {
    height: 100%;
    font-family: 'Jost', sans-serif;

    display: grid;
    grid-template-rows: 8% 79%;
    row-gap: 3%;
}

.post_a_job_intro_text_left, .post_a_job_intro_text_right {
    display: grid;
    place-items: center;
    padding: 4%;
}
.post_a_job_intro_text_left {
    text-align: right;

    font-weight: 700;
    font-size: 2.3vw;

    border-right: 2px solid #EB9028;
}
.post_a_job_intro_text_right {
    text-align: left;

    /* font-weight: 500; */
    font-size: 1.5vw;
}
.post_a_job_intro_text {
    display: grid;
    grid-template-columns: 35% 65%;
}

.post_a_job_form div{
    /* border: 1px solid red; */
    /* height: 100%; */
}
.post_a_job_form {
    height: 112.5%;
    display: grid;
    
    grid-template-rows: 1fr 3fr 1fr 1fr 1fr 1fr 1fr 6% 4%;
    row-gap: 2.5%;
    /* border: 1px solid yellow; */
    
}
.form_container {
    /* border:1px solid green; */
}



.common {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 2%;
}
.description {
    display: grid;
    grid-template-rows: 13% 2fr 7fr;
    row-gap: 2%;
}
.category {
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 2%;
}
.top {
    font-size: 2.3vw;
    display:grid;
    align-items: center;
    text-align: left;
}
.middle {
    font-size: 1.3vw;
    display:grid;
    align-items: center;
    text-align: left;
}
.attachment .bottom input {
    width: 22%;
    background-color: white;

    padding: 1%;
    font-size: 1.3vw;
    box-sizing:border-box;
}

.category .bottom select {
    width: 22%;
    height: 100%;
    padding: 1%;
    box-sizing:border-box;

    background-color: #1283DD;
    border: 0;

    text-align: center;
    font-size: 1.3vw;
    font-family: 'Jost', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 7px 29px 0px;
}
.post_a_job_button {
}
.post_a_job_button button{
    border: 0;
    cursor: pointer;

    width: 22%;
    height: 90%;
    padding: 1%;
    box-sizing:border-box;

    text-align: center;
    font-size: 1.8vw;
    font-family: 'Jost', sans-serif;

    background-color: #2B314A;

    margin-top: 2.5%;

    box-shadow: rgba(0, 0, 0, 0.15) 0px 7px 29px 0px;
}
.post_a_job_button button:hover {
    background-color: #1283DD;
}





@media (max-width: 1200px) {
    .post_a_job_outer {
        height:280vh;
    }
}
@media (max-width: 1000px) {
    .post_a_job_outer {
        height:220vh;
    }
}
@media (max-width: 800px) {
    .post_a_job_outer {
        height:180vh;
    }
    .post_a_job_intro_text_right {
        font-size: 2vw;
    }
    .top {
        font-size: 3vw;
    }
    .middle {
        font-size: 2vw;
    }
    .attachment .bottom input {
        width: 40%;
        font-size: 2.3vw;
    }
    .category .bottom select, .post_a_job_button button {
        width: 40%;
        font-size: 2.5vw;
    }
    input {
        font-size: 2.5vw;
    }
}


@media (max-width: 600px) {
    .post_a_job_outer {
        height:150vh;
    }
    .post_a_job_intro_text_left {
        display: none;
    }
    .post_a_job_intro_text {
        display: block;
    }
    .post_a_job_intro_text_right {
        font-size: 3vw;
        padding: 0%;
        text-align: center;
    }
    .top {
        font-size: 3.3vw;
    }
    .middle {
        font-size: 2.2vw;
    }
    .attachment .bottom input {
        width: 40%;
        font-size: 2.3vw;
    }
    .category .bottom select, .post_a_job_button button {
        width: 40%;
        font-size: 2.5vw;
    }
    input {
        font-size: 3vw;
    }
}

@media (max-width: 500px) {
    .post_a_job_outer {
        height:140vh;
    }
    .post_a_job_intro_text_left {
        display: none;
    }
    .post_a_job_intro_text {
        display: block;
    }
    .top {
        font-size: 3.4vw;
    }
    .middle {
        font-size: 2.3vw;
    }
    .attachment .bottom input {
        width: 40%;
        font-size: 2.3vw;
    }
    .category .bottom select, .post_a_job_button button {
        width: 40%;
        font-size: 2.5vw;
    }
    input {
        font-size: 3vw;
    }
}

@media (max-width: 500px) {
    .post_a_job_outer {
        height:134vh;
    }
    .top {
        font-size: 3.4vw;
    }
    .middle {
        font-size: 2.33vw;
    }
}
@media (max-width: 500px) {
    .post_a_job_outer {
        height:134vh;
    }
    .top {
        font-size: 4vw;
    }
    .middle {
        font-size: 2.35vw;
    }
}